{% extends 'base.html' %}
{% load staticfiles %}
{% load teams_tags %}


{% block page_content %}

<div class="container">
    <div class="bs-docs-section">
        <div class="row page-header">
            <div class="col-lg-12">
                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading main">
                        <ul class="nav nav-tabs main">
                            <li class="active"><a href="#tabInfo" data-toggle="tab">Info</a></li>
                            {# TODO: Schedule tab #}
                            <li><a href="#tabRoster" data-toggle="tab">Roster</a></li>
                            <li><a href="#tabStats" data-toggle="tab">Stats</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            {# First tab #}
                            <div class="tab-pane fade in active" id="tabInfo">
                                {# First row #}
                                <div class="col-lg-12">
                                    {# Team info #}
                                    <div class="col-lg-8">
                                        <h1>{{ team.full_name }}</h1>
                                        <hr>
                                        <table class="table table-user-information">
                                            <tbody>
                                            <tr>
                                                <td>Record:</td>
                                                <td>72-10 (1st place)</td>
                                            </tr>
                                            <tr>
                                                <td>Short name:</td>
                                                <td>{{ team.short_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Coach:</td>
                                                <td>{{ team.coach.full_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>Captain:</td>
                                                <td><a href="{{ team.captain.get_absolute_url }}">
                                                    {{ team.captain.full_name }}
                                                </a></td>
                                            </tr>
                                            {% if team.description %}
                                                <tr>
                                                    <td>Description:</td>
                                                    <td>{{ team.description }}</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {# Team logo #}
                                    <div class="col-lg-4">
                                        <h1>
                                            <span class="pull-right label label-default">
                                            <img title="{{ team.full_name }} logo"
                                                class="img-rounded img-responsive"
                                                width="250px"
                                                src="{{ MEDIA_URL }}{{ team.logo }}">
                                            </span>
                                        </h1>
                                    </div>
                                </div>
                                {# Second row #}
                                <div class="col-lg-12">
                                    {# Leaders #}
                                    <div class="col-lg-4">
                                        <h2>Leaders</h2>
                                        <ul class="list-group">
                                            {% for item in team_leaders %}
                                            <li class="list-group-item">
                                                <span class="badge">{{ item.value }} {{ item.stat }}</span>
                                                <a href="{{ item.player.get_absolute_url }}">
                                                    {{ item.player.full_name }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {# Previous games #}
                                    <div class="col-lg-4">
                                        <h2>Previous games</h2>
                                        <ul class="list-group">
                                            {% for game in previous_games %}
                                            <li class="list-group-item">
                                                <span class="badge">{{ game.date|date:"d N" }}</span>
                                                <a href="{{ game.get_absolute_url }}" class="{{ game|color:team }}">
                                                    {{ game|past_game_name:team }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {# Next games #}
                                    <div class="col-lg-4">
                                        <h2>Next games</h2>
                                        <ul class="list-group">
                                            {% for game in next_games %}
                                            <li class="list-group-item">
                                                <span class="badge">{{ game.date|date:"d N" }}</span>
                                                <a href="{{ game.get_absolute_url }}">
                                                    {{ game|future_game_name:team }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {# Second tab #}
                            <div class="tab-pane fade" id="tabRoster">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>&#35;</th>
                                        <th>Name</th>
                                        <th>Birth date</th>
                                        <th>Age</th>
                                        <th>Position</th>
                                        <th>Height</th>
                                        <th>Weight</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for player in team_players %}
                                        <tr>
                                            <td>{{ player.number }}</td>
                                            <td><a href="{{ player.get_absolute_url }}">
                                                {{ player.full_name }}
                                            </a></td>
                                            <td>{{ player.birth_date }}</td>
                                            <td>{{ player.age }}</td>
                                            <td>{{ player.position }}</td>
                                            <td>{{ player.height }} cm</td>
                                            <td>{{ player.weight }} kg</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {# Third tab #}
                            <div class="tab-pane fade" id="tabStats">
                                <table class="table table-striped table-hover table-bordered table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        {% for field in stat_fields %}
                                            <th>{{ field }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for player, stats in players_stats.items %}
                                        <tr>
                                            <td><a href="{{ player.get_absolute_url }}">
                                                {{ player.full_name }}
                                            </a></td>
                                            {% for value in stats %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}