/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


/***  http://bootsnipp.com/snippets/featured/simple-user-profile  ***/
.table-user-information > tbody > tr {
    border-top: 1px solid #696868;
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}


/* Tło nieparzystych wierszów w tabelach w panelu */
.panel .table-striped > tbody > tr:nth-child(odd) > td,
.panel .table-striped > tbody > tr:nth-child(odd) > th {
   background-color: #282828;
 }

.panel .table-hover > tbody > tr:hover > td,
.panel .table-hover > tbody > tr:hover > th {
    background-color: #464545;
}


/***  http://bootsnipp.com/snippets/featured/panels-with-nav-tabs  ***/
.panel.with-nav-tabs .panel-heading.main{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs.main{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified.main{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs.main > li > a,
.with-nav-tabs.panel-primary .nav-tabs.main > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs.main > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs.main > .open > a,
.with-nav-tabs.panel-primary .nav-tabs.main > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs.main > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs.main > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs.main > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs.main > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs.main > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs.main > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs.main > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs.main > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs.main > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs.main > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs.main > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs.main > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs.main > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

/*** Misc edits ***/
a {
  text-decoration: none !important;
}

.panel a:hover {
  color: white !important;
}

.label {
  margin-left: 5px;
  margin-right: 5px;
}

.at {
  margin: 0;
}

.at-top {
  margin-bottom: 5px;
}

.at-bottom {
  margin-top: 5px;
}