.timeLineElem{
    width: calc((100% - 100px) / 3);
    display: inline-block;
    cursor: pointer;
    height: 100%;
    -webkit-transition: linear 0.1s; /* For Safari 3.1 to 6.0 */
    transition: linear 0.1s;
}
.timeLineElem:hover{
    letter-spacing: 1px;
}
.timeLineSwitch{
    cursor: pointer;
    width: 50px;
    display: inline-block;
}