{% extends 'base.html' %}
{% load staticfiles %}


{% block page_content %}

<div class="container">
    <div class="bs-docs-section">
        <div class="row page-header">
            <div class="col-lg-12">
                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading main">
                        <ul class="nav nav-tabs main">
                            <li class="active"><a href="#tabInfo" data-toggle="tab">Info</a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            {# First tab #}
                            <div class="tab-pane fade in active" id="tabInfo">
                                {# First row #}
                                <div class="col-lg-12">
                                    {# Left logo #}
                                    <div class="col-lg-3">
                                        <h1>
                                            <span class="pull-left label label-default">
                                            <img title="{{ away_team.full_name }} logo"
                                                class="img-rounded img-responsive"
                                                width="250px"
                                                src="{{ MEDIA_URL }}{{ away_team.logo }}">
                                            </span>
                                        </h1>
                                    </div>
                                    <div class="col-lg-6">
                                        {# Top team #}
                                        <h3 class="text-left at-top">
                                            <a href="{{ away_team.get_absolute_url }}">
                                                {{ away_team.full_name }}
                                            </a>
                                        </h3>
                                        <p class="text-center at">at</p>
                                        {# Bottom team #}
                                        <h3 class="text-right at-bottom">
                                            <a href="{{ home_team.get_absolute_url }}">
                                                {{ home_team.full_name }}
                                            </a>
                                        </h3>
                                        <hr>
                                        {# Score table #}
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr class="active">
                                                <th>Team</th>
                                                <th>1</th>
                                                <th>2</th>
                                                <th>3</th>
                                                <th>4</th>
                                                <th class="text-center">Final</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {# Away team scores #}
                                            <tr>
                                                <td>{{ away_team.short_name }}</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            {# Home team scores #}
                                            <tr>
                                                <td>{{ home_team.short_name }}</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {# Right logo #}
                                    <div class="col-lg-3">
                                        <h1>
                                            <span class="pull-right label label-default">
                                            <img title="{{ away_team.full_name }} logo"
                                                class="img-rounded img-responsive"
                                                width="250px"
                                                src="{{ MEDIA_URL }}{{ home_team.logo }}">
                                            </span>
                                        </h1>
                                    </div>
                                </div>
                                {# Second row #}
                                <div class="col-lg-12">
                                    {# Away Team Leaders #}
                                    <div class="col-lg-4">
                                        <h2>{{ away_team.short_name }} Leaders</h2>
                                        <ul class="list-group">
                                            {% for item in away_team_leaders %}
                                            <li class="list-group-item">
                                                <span class="badge">{{ item.3 }} {{ item.0 }}</span>
                                                <a href="{{ item.2 }}">{{ item.1 }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {# Game Facts #}
                                    <div class="col-lg-4">
                                        <h2>Game Facts</h2>
                                        <table class="table table-user-information">
                                            <tbody>
                                            <tr>
                                                <td>Date:</td>
                                                <td>{{ game_date }}</td>
                                            </tr>
                                            <tr>
                                                <td>Referees:</td>
                                                <td>Michael Jordan<br>Michael Jordan</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {# Home Team Leaders #}
                                    <div class="col-lg-4">
                                        <h2>{{ home_team.short_name }} Leaders</h2>
                                        <ul class="list-group">
                                            {% for item in home_team_leaders %}
                                            <li class="list-group-item">
                                                <span class="badge">{{ item.3 }} {{ item.0 }}</span>
                                                <a href="{{ item.2 }}">{{ item.1 }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}