{% extends 'base.html' %}

{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
{% block bootstrap3_extra_script %}

    <script src="{% static 'js/GamePageTimeLine.js' %}"></script>

{% endblock %}
{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Games/GamePageStyles.css' %}">

    <div class="container">
    <br/>

        <div class="bs-docs-section">
            <div class="panel panel-primary" id="gamesPane">
                <div class="panel-heading">
                    <h3 class="panel-title" id="gamePaneTitle" style="text-align: center">
                        <span onclick="timeLine.fillTheFirstOne()" class="timeLineSwitch"><<</span><!--
                     --><div id="timeline1" class="timeLineElem"> - </div><!--
                     --><div id="timeline2" class="timeLineElem"> - </div><!--
                     --><div id="timeline3" class="timeLineElem"> - </div><!--
                     --><span class="timeLineSwitch" onclick="timeLine.fillTheLastOne()">>></span>
                    </h3>
                </div>
                <div class="panel-body" id="gamePaneBody">
                    Choose date from the visible dates.
                </div>
            </div>
        </div>
    </div>

{% endblock %}