{% load staticfiles %}
<script src="{%  static 'js/jquery.min.js' %}"></script>
<script src="{%  static 'js/briefScript.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/indexstylesheet.css' %}">

<div id="title" class="slide header">
  <h1><span class="frontphrase" id="frontphrase1">League</span> <span class="frontphrase" id="frontphrase2">Management</span></h1>

<div class="arrowframe"><h2 style="font-size: 20px">easier</h2>
    <div class="arrow"></div>
</div>
</div>
<div id="slide1" class="slide" style="border: 2px solid #000000 ">
<div class="fancyNumbers">
        <div style="width: 100%;padding-top: 100px">
            <p style="font-size: 70px; color: #000000">Zero</p>
        <br>
        Test case coverage.
        </div>
        <div style="width: 100%;padding-top: 100px">
            <p style="font-size: 70px; color: #000000">8 months</p>
        <br>
            of doing almost nothing.
        </div>
        <div style="width: 100%;padding-top: 100px">
            <p style="font-size: 70px; color: #000000">100%</p>
        <br>
        chance of throwing whole project away.
        </div>
    <br/>
    <div><p style="color: darkgoldenrod">Just to show you how we roll.</p></div>
</div>
</div>


<div id="slide2" class="slide">
<div class="title" style="height: 70vh; margin: 0px; width: 100%">
    <div class="brief-info-box"><p>What's <span style="color: lightseagreen"> BLM?</span>

        <p class="brief-info-itemize">
        <span>league management</span><br/>
        <span>+</span><br/>
        <span>user-friendly interface</span><br/>
        <span>+</span><br/>
        <span>portability</span><br/>
        <span>▼</span><br/>
        </p>
<a href="/" class="default-hyperlink">BLM</a>

    </div>
    <div class="authors-info"><p>Who are<span style="color: orangered">we?</span></p>

        <div class="contactBubble pabloContact" >
        <h3 class="bubbleText"> Pablo</h3>
        </div>

<br/>
           <div class="contactBubble wojoContact">
<h3 class="bubbleText">Wojo</h3>
        </div>

    </div>

</div>
{#    <div style="height: 50px; padding: 0.85; background-color: black; width: 100%; bottom: 0px"></div>#}
</div>

<script>




</script>