{% extends 'base.html' %}


{% block page_content %}

<div class="jumbotron main-page-img">
    <div class="container" style="text-align: center;margin-top: 22px; background-color: rgb(167, 137, 68); width: 60%;opacity: 0.7; border: 3px solid white">
        <a href="/brief"><span class="logo-text-animate" href="/brief">brief</span></a>
        <span class="logo-text">-</span>
        <span class="logo-text-animate">contact</span>
        <span class="logo-text">-</span>
        <span class="logo-text-animate">fuck</span>
    </div>
</div>

<div class="container">
    <div class="row">
    </div>
</div>

</script>
{% endblock %}