<!-- A bit too hardcoded; to revisit -->

<div id="navbar" class="collapse navbar-collapse navbar-blm-custom">
    <ul class="nav navbar-nav">
        {% for link in links %}
            {% if link.name == 'Home' %}
                <li{% ifequal path link.url %} class="active"{% endifequal %}><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% elif link.name == 'Teams' %}
                <li class="dropdown{% if link.url in path %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Teams <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for team in all_teams %}
                            <li{% ifequal path team.get_absolute_url %} class="active"{% endifequal %}><a href="{{ team.get_absolute_url }}">{{ team.full_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li{% if link.url in path %} class="active"{% endif %}><a href="{{ link.url }}">{{ link.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>